{% extends 'base.html' %}
{% block content %}
<div class="row top-buffer">
  <div class="col-xs-12 col-sm-12 col-md-12 lucida">
    <b><h3>About Share Thoughts</h3></b><br/>
    <p class="twenty-pix">Share Thoughts provides the way to connect with people anonymously, express yourself and discover shared thoughts.</p>
    <p class="twenty-pix">If you have any ideas or thoughts to share anonymously, then you are at right place.</p>
    <p class="twenty-pix">Please go ahead and do provide us your feedback.</p>
  </div>
</div>
{% endblock %}
