{% extends 'base.html' %}
{% block content %}
<div class="row top-buffer">
  <div class="col-xs-12 col-sm-12 col-md-12 lucida">
    <div class="top-padding"><h3>{{content.title}}</h3></div>
    <div class="justify"><p>{% autoescape off %}{{content.text}}{% endautoescape %}</p></div>
    <div>
      <p><b>Tagged under : </b>{%for tag in tags%}<a href='/search/?search-tag={{tag}}'>{{tag}}</a>{%if not forloop.last%},{%endif%}{%endfor%}</p>
      <p><div class="fb-share-button" data-href="/article/?id={{content.id}}"></div></p>
    </div>   
  </div>
</div>
{% endblock %}
