<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  {% if title %}<meta property="og:title" content="{{ title }}" />{% endif %}
  <title>Share Thoughts - ideas worth a share</title>
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type='text/css' />
  <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type='text/css' />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class='container-fluid content-color'>
  {% block header %}
    <div class='row header'>
      <div class="col-xs-8 col-sm-8 col-md-4"><a class='logo logo-text' href='/'>Share Thoughts</a></div>
      <div class="hidden-xs hidden-sm col-md-4 top-padding lucida">
        <form role="form" name="content-form" method="get" action='/search/'>
          <input class="form-control" type="text" name="search-tag" placeholder="Search Thoughts"></input>
        </form>
      </div>
      {% if share %}
        <div class="col-xs-4 col-sm-4 hidden-md hidden-lg top-padding lucida">
          <div class="pull-right"><a href='/share'><button type="button" class="btn btn-default btn-sm"><b>Share?</b></button></a></div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 top-padding lucida">
          <div class="pull-right"><a href='/share'><button type="button" class="btn btn-default btn-sm"><b>Share thoughts?</b></button></a></div>
        </div>
      {% endif %}
    </div>
    <div class="row top-padding">
      <div class="col-xs-12 col-sm-10 hidden-md hidden-lg col-centered lucida">
        <form role="form" name="content-form" method="get" action='/search/'>
          <input class="form-control" type="text" name="search-tag" placeholder="Search Thoughts"></input>
        </form>
      </div>
    </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
    <div class='row footer top-buffer'>
      <div class="col-xs-12 col-sm-12 col-md-12 lucida">
        <div class="text-center">
          <p><a class='clean_anchor clean_anchor_text' href="/about">About the site</a> | <a class='clean_anchor clean_anchor_text' href="/feedback">Feedback</a></p>
          <p>Copyright 2014 &copy; elvrsn</p>
        </div>
      </div>
    </div>
  {% endblock %}
  </div>
</body>
</html>
