{% extends 'base.html' %}
{% block content %}
<div class="row top-buffer">
  <div class="col-xs-12 col-sm-12 col-md-12 lucida">
  <ul>
    <li><a class='clean_anchor2 clean_anchor_text2' href="/">Home</a></li>
    <li><a class='clean_anchor2 clean_anchor_text2' href="/share">Share Your Thoughts</a></li>
    <li>Categories</li>
    <ul>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Arts"> Arts</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Business"> Business</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Entertainment"> Entertainment</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=History"> History</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Mathematics"> Mathematics</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Science"> Science</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Sports"> Sports</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Technology"> Technology</a></li>
      <li><a class='clean_anchor2 clean_anchor_text2' href="/category/?id=Others"> Others</a></li>
    </ul>
    <li><a class='clean_anchor2 clean_anchor_text2' href="/about">About Share Thoughts</a></li>
    <li><a class='clean_anchor2 clean_anchor_text2' href="/feedback">Feedback</a></li>
  </ul>
  </div>
</div>
{% endblock %}
